.lds-dual-ring {
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 auto;
  background-color: transparent;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid rgb(192, 95, 30);
  border-color: rgb(192, 95, 30) transparent rgb(192, 95, 30) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
